/*common part css*/
* {
  margin: 0;
  outline: 0;
  padding: 0;
}

img {
  border: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
.fw-semiBold {
  font-weight: 600;
}
.fw-medium {
  font-weight: 500;
}

// navbar part css //
.navbg {
  background-color: #ffffff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.048);
}
.navbar {
  z-index: 5;
  padding: 16px 0;
  transition: all linear 0.1s;

  &.navbar-light {
    .nav-item {
      .nav-link {
        color: #5e5e5e;
        font-family: "Montserrat", sans-serif;
        &.contact {
          color: #ffffff;
          border-radius: 5px;
          letter-spacing: 0.05em;
          background-color: #9bdbf3;
        }
        span {
          top: 0;
          right: 0;
          width: 18px;
          height: 18px;
          font-size: 14px;
          line-height: 18px;
          background: #a7606f;
        }
      }
    }
  }
}

// banner part css //
#banner {
  padding-top: 160px;
  padding-bottom: 160px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/banner.png);
  .bottom-shape {
    left: 0;
    bottom: 0;
    width: 100%;
  }
  .banner-text {
    h2 {
      font-size: 65px;
      color: #008bad;
      line-height: 63px;
      margin-bottom: 24px;
      letter-spacing: 0.02em;
      font-family: "Bree Serif", serif;
    }
    p {
      color: #5e5e5e;
      font-size: 25px;
      line-height: 35px;
      margin-bottom: 50px;
      font-family: "Montserrat", sans-serif;
    }
    .btn {
      height: 47px;
      width: 188px;
      color: #008bad;
      border-radius: 5px;
      letter-spacing: 0.05em;
      border: 2px solid #008bad;
      transition: all linear 0.2s;
      font-family: "Montserrat", sans-serif;

      &:hover {
        color: #ffffff;
        background-color: #008bad;
      }
    }
  }
}
// ECE Service part css //
#ece-service {
  padding-top: 130px;
  padding-bottom: 100px;
  .ece-service-title {
    h3 {
      font-size: 34px;
      line-height: 40px;
      color: #5e5e5e;
      letter-spacing: 0.03em;
      font-family: "Bree Serif", serif;
    }
    img {
      left: -20px;
      width: 100%;
      bottom: -25px;
    }
  }
  .ece-service-text {
    margin-bottom: 70px;
    h3 {
      color: #008bad;
      font-size: 30px;
      margin-bottom: 25px;
      font-family: "Bree Serif", serif;
    }
    p {
      color: #5e5e5e;
      line-height: 22px;
      font-family: "Montserrat", sans-serif;
    }
  }
}

// Our Service part css //
#our-service {
  padding: 70px 0;
  .our-service-title {
    margin-bottom: 80px;
    h5 {
      color: #5e5e5e;
      margin-bottom: 15px;
      font-family: "Montserrat", sans-serif;
    }
    h3 {
      color: #5e5e5e;
      font-size: 35px;
      margin-bottom: 15px;
      letter-spacing: 0.03em;
      font-family: "Bree Serif", serif;
    }
    p {
      color: #5e5e5e;
      font-family: "Montserrat", sans-serif;
    }
  }
  .our-service-consulting {
    background-color: #1d748a;
  }
  .our-service-education {
    background-color: #4a7473;
  }
  .our-service-subscriptions {
    background-color: #a7606f;
  }

  .our-service-consulting,
  .our-service-education,
  .our-service-subscriptions {
    height: 100%;
    padding: 40px;
    border-radius: 12px;
    .our-service-icon {
      margin-bottom: 50px;
    }
    h4 {
      font-size: 18px;
      margin-bottom: 15px;
      letter-spacing: 0.02em;
      font-family: "Montserrat", sans-serif;
    }
    p {
      margin-bottom: 30px;
      line-height: 22px;
      font-family: "Montserrat", sans-serif;
    }
    .bottom-arrow {
      left: 50%;
      bottom: 25px;
      transform: translateX(-50%);
    }
  }
}
// Learning HUb part css //
#learning-hub {
  padding: 250px 0;
  background-color: #008bad;
  .learning-shape-top {
    left: 0;
    top: 0;
    width: 100%;
  }
  .learning-shape-bottom {
    left: 0;
    bottom: 0;
    width: 100%;
  }
  .learning-hub-text {
    h5 {
      margin-bottom: 16px;
      font-family: "Montserrat", sans-serif;
    }
    h3 {
      font-size: 35px;
      line-height: 42px;
      margin-bottom: 25px;
      letter-spacing: 0.03em;
      font-family: "Bree Serif", serif;
    }
    p {
      line-height: 25px;
      margin-bottom: 30px;
      font-family: "Montserrat", sans-serif;
    }
    .btn {
      width: 180px;
      height: 48px;
      color: #008bad;
      letter-spacing: 0.05em;
      font-family: "Montserrat", sans-serif;
    }
  }
}

// who we are part css //
#who-we-are {
  padding-top: 140px;
  padding-bottom: 140px;
  .who-we-are-text {
    h5 {
      color: #5e5e5e;
      margin-bottom: 16px;
      font-family: "Montserrat", sans-serif;
    }
    h3 {
      color: #5e5e5e;
      font-size: 35px;
      line-height: 42px;
      margin-bottom: 25px;
      letter-spacing: 0.03em;
      font-family: "Bree Serif", serif;
    }
    p {
      color: #5e5e5e;
      line-height: 23px;
      margin-bottom: 30px;
      font-family: "Montserrat", sans-serif;
    }
    .btn {
      width: 180px;
      height: 48px;
      letter-spacing: 0.05em;
      background-color: #a7606f;
      font-family: "Montserrat", sans-serif;
    }
  }
}

// Testimonials part css //
#testimonials {
  padding: 100px 0;
  .testimonials-title {
    h5 {
      color: #5e5e5e;
      margin-bottom: 20px;
      font-family: "Montserrat", sans-serif;
    }
    h3 {
      font-size: 35px;
      line-height: 40px;
      color: #5e5e5e;
      letter-spacing: 0.03em;
      font-family: "Bree Serif", serif;
    }
    img {
      left: 49%;
      bottom: -25px;
      transform: translateX(-50%);
    }
  }
  .carousel-inner {
    margin-top: 65px;
    border-radius: 5px;
    padding: 40px 50px;
    background: #f7f7f7;
    .carousel-item {
      .testimonials-text {
        p {
          color: #5e5e5e;
          font-size: 18px;
          margin-bottom: 30px;
          font-family: "Montserrat", sans-serif;
        }
        .customer-info {
          font-family: "Montserrat", sans-serif;
          h4 {
            color: #5e5e5e;
            font-size: 18px;
          }
          p {
            color: #5e5e5e;
            font-size: 16px;
          }
          .review {
            i {
              color: #4a7473;
            }
          }
        }
      }
    }
  }
  .carousel-control-next,
  .carousel-control-prev {
    bottom: auto;
    opacity: 1;
    i {
      width: 50px;
      height: 50px;
      display: flex;
      font-size: 40px;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      background-color: #4a7473;
    }
  }
  .carousel-control-next {
    top: 50%;
    right: -200px;
    transform: translateY(-50%);
  }
  .carousel-control-prev {
    top: 50%;
    left: -200px;
    transform: translateY(-50%);
  }
}
// Subscribtion part css //
#subscribtion {
  padding-top: 450px;
  padding-bottom: 290px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/Subscription.png);
  .subscribtion-shape-top {
    top: 0;
    left: 0;
    width: 100%;
  }
  .footer-shape-top {
    left: 0;
    bottom: 0;
    width: 100%;
  }
  .subscribe-content {
    h5 {
      margin-bottom: 20px;
      font-family: "Montserrat", sans-serif;
    }
    h3 {
      font-size: 35px;
      margin-bottom: 60px;
      letter-spacing: 0.03em;
      font-family: "Bree Serif", serif;
    }
    .subscribe-box {
      input {
        height: 45px;
        color: #ffffff;
        font-size: 18px;
        font-weight: 600;
        background-color: transparent;
        font-family: "Montserrat", sans-serif;
        &::placeholder {
          color: #ffffff;
        }
      }
      .name-box {
        width: 370px;
      }
      .email-box {
        width: 470px;
      }
      .subscribe-btn {
        .btn {
          width: 270px;
          height: 45px;
          font-size: 18px;
          background-color: #a7606f;
          font-family: "Montserrat", sans-serif;
        }
      }
    }
  }
}
// footer part css //
#footer {
  padding-top: 95px;
  padding-bottom: 95px;
  background-color: #008bad;
  .footer-items {
    font-family: "Montserrat", sans-serif;
    ul {
      li {
        i {
          width: 30px;
          height: 30px;
          font-size: 15px;
          color: #ffffff;
          line-height: 30px;
          text-align: center;
        }
      }
    }
  }
  .footer-subcription-box {
    input {
      height: 35px;
      font-size: 16px;
      color: #ffffff;
      &::placeholder {
        color: #ffffff;
        font-family: "Montserrat", sans-serif;
      }
    }
    .btn {
      height: 45px;
      font-size: 18px;
      color: #008bad !important;
      font-family: "Montserrat", sans-serif;
    }
  }
  .footer-content {
    padding-top: 35px;
    small {
      color: #ffffff;
      font-family: "Montserrat", sans-serif;
      a {
        color: #ffffff;
      }
    }
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767.98px) {
  .ece-service-title {
    margin-bottom: 80px;
  }
  #testimonials .carousel-control-next {
    right: -10px;
  }
  #testimonials .carousel-control-prev {
    left: -10px;
  }
  #subscribtion .subscribe-content .subscribe-box .subscribe-btn .btn {
    width: 90px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  #ece-service .ece-service-title h3 {
    font-size: 25px;
  }
  #ece-service .ece-service-text h3 {
    font-size: 20px;
  }
  #ece-service .ece-service-text p {
    font-size: 14px !important;
  }
  #learning-hub .learning-hub-text h3 {
    font-size: 23px;
    line-height: 35px;
  }
  #learning-hub .learning-hub-text p {
    font-size: 12px !important;
  }
  #testimonials .carousel-control-next {
    right: -100px;
  }
  #testimonials .carousel-control-prev {
    left: -100px;
  }
  #subscribtion .subscribe-content .subscribe-box .subscribe-btn .btn {
    width: 125px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  .navbar-light .navbar-brand {
    width: 150px;
  }
  .navbar.navbar-light .nav-item .nav-link {
    font-size: 12px !important;
  }

  #ece-service .ece-service-title h3 {
    font-size: 25px;
  }
  #ece-service .ece-service-text p {
    line-height: 20px;
  }
  #ece-service .ece-service-text h3 {
    font-size: 22px;
  }
  #learning-hub .learning-hub-text h3 {
    font-size: 25px;
  }
  #who-we-are .who-we-are-text h3 {
    font-size: 30px;
  }
  #testimonials .carousel-inner .carousel-item .testimonials-text p {
    font-size: 16px;
  }
  #testimonials .carousel-control-next {
    right: -140px;
  }
  #testimonials .carousel-control-prev {
    left: -140px;
  }
}
